body {
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fafbff, #f4f7ff, #ecf4ff, #d5efff, #b7ebfd, #99e7f1, #80e3dd);
}

#header {
    text-align: center;
}

p {
    position: fixed;
    text-align: center;
    font-size: 350%;
    left: 365px;
}

#sqOne {
    position: fixed;
    left: 200px;
    top: 200px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}

#sqTwo {
    position: fixed;
    left: 400px;
    top: 200px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqThree {
    position: fixed;
    left: 600px;
    top: 200px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}

#sqFour {
    position: fixed;
    left: 200px;
    top: 400px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqFive {
    position: fixed;
    left: 400px;
    top: 400px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqSix {
    position: fixed;
    left: 600px;
    top: 400px;
    border-bottom: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqSeven {
    position: fixed;
    left: 200px;
    top: 600px;
    border-right: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqEight {
    position: fixed;
    left: 400px;
    top: 600px;
    border-right: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}


#sqNine {
    position: fixed;
    left: 600px;
    top: 600px;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1000%;
}

